%titulos {
    background-color: $clr-fnd-tit;
    margin-bottom: 0;
    border-top: 3px solid $clr-brd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $fnt-ppl;
    font-size: $sz-tit;
    
}

%margin-t-b {
    margin-top: 8px;
    margin-bottom: 8px;
}