%titulos {
    background-color: $clr-fnd-tit;
    border-top: 3px solid $clr-brd;
    border-bottom: 3px solid $clr-brd; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $fnt-ppl;
    font-size: $sz-tit;
}

%margin-t-b {
    margin-top: 8px;
    margin-bottom: 8px;
}