header {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    h1 {
        font-family: $fnt-ppl;
        font-size: $sz-tit*4;
        font-weight: bold;
    }
}