* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    background-color: $clr-fnd;
}

.titulos {
    @extend %titulos;
}

.articulo {
    margin: 15px;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    h2 {
        background-color: white;
    }
    p {
        background-color: white;
    }
}